CampaignInfluenceCreation-4.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_indCampaignInfluence_to_CollCampaignInfluence</name>
        <label>Add indCampaignInfluence to CollCampaignInfluence</label>
        <locationX>38</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>CollCampaignInfluence</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>indCampaignInfluence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_Contact_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddtoFinalCampaignInfluenceCollection</name>
        <label>AddtoFinalCampaignInfluenceCollection</label>
        <locationX>892</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>CollFinalCampaignInfluenceSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>indFinalCampaignInfluenceSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>incrementRelativeCampaignInfluence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_to_Master_List</name>
        <label>Assign Campaign to Master List</label>
        <locationX>690</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>TotalCampaignCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>indCampaignRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>incrementCampaignInfluence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_CampaignID_to_Campaign_Influence</name>
        <label>Copy CampaignID to Campaign Influence</label>
        <locationX>34</locationX>
        <locationY>746</locationY>
        <assignmentItems>
            <assignToReference>indCampaignInfluence.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indTotalCampaignRecords.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indCampaignInfluence.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>indTotalCampaignRecords.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indCampaignInfluence.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soOpportunityID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indCampaignInfluence.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModelID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_indCampaignInfluence_to_CollCampaignInfluence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>incrementCampaignInfluence</name>
        <label>incrementCampaignInfluence</label>
        <locationX>691</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>varInfluencingCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Campaigns_to_Master_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementDuplicateCounter</name>
        <label>IncrementDuplicateCounter</label>
        <locationX>907</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>DuplicateCampaignCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopToCountDuplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>incrementRelativeCampaignInfluence</name>
        <label>incrementRelativeCampaignInfluence</label>
        <locationX>709</locationX>
        <locationY>1081</locationY>
        <assignmentItems>
            <assignToReference>varTotalRelativeCampaignInfluence</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>indFinalCampaignInfluenceSet.Influence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCampaignInfluence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetTotalRelativeInfluence</name>
        <label>ResetTotalRelativeInfluence</label>
        <locationX>343</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>varTotalRelativeCampaignInfluence</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCampaignInfluence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duplicate_Counter_to_0</name>
        <label>Set Duplicate Counter to 0</label>
        <locationX>695</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>DuplicateCampaignCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopToCountDuplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewCampaignInfluenceRelative</name>
        <label>setNewCampaignInfluenceRelative</label>
        <locationX>1084</locationX>
        <locationY>1085</locationY>
        <assignmentItems>
            <assignToReference>indFinalCampaignInfluenceSet.Influence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetCampaignRelativeInfluence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indFinalCampaignInfluenceSet.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovarNewCampaignInfluence.CampaignIdNotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indFinalCampaignInfluenceSet.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovarNewCampaignInfluence.ContactIdNotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indFinalCampaignInfluenceSet.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovarNewCampaignInfluence.ModelIdNotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indFinalCampaignInfluenceSet.null</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovarNewCampaignInfluence.OpportunityIdNotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indFinalCampaignInfluenceSet.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovarNewCampaignInfluence.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoFinalCampaignInfluenceCollection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Testingcontsant</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Campaign_influence_is_set</name>
        <label>Check if Campaign influence is set</label>
        <locationX>412</locationX>
        <locationY>893</locationY>
        <defaultConnector>
            <targetReference>SetCampaignInfluence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_if_Campaign_Influence_is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovarNewCampaignInfluence.Influence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flGetCampaignInfluenceIds</targetReference>
            </connector>
            <label>Check if Campaign Influence is 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>SkipDeleteifNull</name>
        <label>SkipDeleteifNull</label>
        <locationX>449</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>DeleteCampaignInfluence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SkipFastDeleteifNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCampaignInfluence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Role_Lookup</targetReference>
            </connector>
            <label>SkipFastDeleteifNull</label>
        </rules>
    </decisions>
    <description>This flow is launched to create campaign influence records for Multi-Touch</description>
    <formulas>
        <name>equalDistributionofInfluence</name>
        <dataType>Number</dataType>
        <expression>100.00/{!varInfluencingCampaigns}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>increments the number of influencing campaigns by 1</description>
        <name>IncrementInfluencingCampaign</name>
        <dataType>Number</dataType>
        <expression>{!varInfluencingCampaigns}+1.00</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>indCampaignInfluencePercent</name>
        <dataType>Number</dataType>
        <expression>({!indFinalCampaignInfluenceSet.Influence}/{!varTotalRelativeCampaignInfluence})*10000.00</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>used to only look up records created in the last 90 days</description>
        <name>Last90Days</name>
        <dataType>Date</dataType>
        <expression>{!soOpportunityID.CloseDate} - 90</expression>
    </formulas>
    <formulas>
        <name>SetCampaignRelativeInfluence</name>
        <dataType>Number</dataType>
        <expression>1.00/{!DuplicateCampaignCounter}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CampaignInfluenceCreateion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CampaignInfluenceCreation</label>
    <loops>
        <name>Add_Campaigns_to_Master_List</name>
        <label>Add Campaigns to Master List</label>
        <locationX>482</locationX>
        <locationY>541</locationY>
        <assignNextValueToReference>indCampaignRecords</assignNextValueToReference>
        <collectionReference>CollCampaignRecords</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Campaign_to_Master_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopThroughContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_Contact_Campaigns</name>
        <label>loop through Contact Campaigns</label>
        <locationX>234</locationX>
        <locationY>665</locationY>
        <assignNextValueToReference>indTotalCampaignRecords</assignNextValueToReference>
        <collectionReference>TotalCampaignCollection</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_CampaignID_to_Campaign_Influence</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fcCreateCampaignInfluence</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSetCampaignInfluenceFinal</name>
        <label>loopSetCampaignInfluenceFinal</label>
        <locationX>522</locationX>
        <locationY>1223</locationY>
        <assignNextValueToReference>indFinalCampaignInfluenceSet</assignNextValueToReference>
        <collectionReference>CollFinalCampaignInfluenceSet</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateCampaignInfluenceRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ruUpdateOpportunityCampaignInfluence</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts</name>
        <label>LoopThroughContacts</label>
        <locationX>234</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>sovarContactRoleCollection</assignNextValueToReference>
        <collectionReference>scContactRoleCollection</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Gather_all_Campaigns_on_the_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_through_Contact_Campaigns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopToCountDuplicates</name>
        <label>loopToCountDuplicates</label>
        <locationX>694</locationX>
        <locationY>903</locationY>
        <assignNextValueToReference>indGetSetCampaignInfluence</assignNextValueToReference>
        <collectionReference>collGetSetofCampaignInfluence</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>IncrementDuplicateCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setNewCampaignInfluenceRelative</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SetCampaignInfluence</name>
        <label>SetCampaignInfluence</label>
        <locationX>512</locationX>
        <locationY>1084</locationY>
        <assignNextValueToReference>sovarNewCampaignInfluence</assignNextValueToReference>
        <collectionReference>NewCampaignInfluence</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Campaign_influence_is_set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopSetCampaignInfluenceFinal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>fcCreateCampaignInfluence</name>
        <label>fcCreateCampaignInfluence</label>
        <locationX>237</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>Wait_to_Create</targetReference>
        </connector>
        <inputReference>CollCampaignInfluence</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteCampaignInfluence</name>
        <label>DeleteCampaignInfluence</label>
        <locationX>229</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Wait_to_Delete</targetReference>
        </connector>
        <inputReference>CurrentCampaignInfluence</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Contact_Role_Lookup</name>
        <label>Contact Role Lookup</label>
        <locationX>230</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughContacts</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soOpportunityID.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>scContactRoleCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>flGetCampaignInfluenceIds</name>
        <label>flGetCampaignInfluenceIds</label>
        <locationX>409</locationX>
        <locationY>774</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Duplicate_Counter_to_0</targetReference>
        </connector>
        <filters>
            <field>CampaignId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovarNewCampaignInfluence.CampaignIdNotFound</elementReference>
            </value>
        </filters>
        <filters>
            <field>Influence</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ModelId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>03V61000000KynDEAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soOpportunityID.Id</elementReference>
            </value>
        </filters>
        <object>CampaignInfluence</object>
        <outputReference>collGetSetofCampaignInfluence</outputReference>
        <queriedFields>CampaignId__NotFound</queriedFields>
        <queriedFields>Influence</queriedFields>
        <queriedFields>OpportunityId__NotFound</queriedFields>
        <queriedFields>ContactId__NotFound</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>ModelId__NotFound</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>flGetCurrentCampaignInfluence</name>
        <label>flGetCurrentCampaignInfluence</label>
        <locationX>620</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SkipDeleteifNull</targetReference>
        </connector>
        <filters>
            <field>ModelId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>03V61000000KynDEAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soOpportunityID.Id</elementReference>
            </value>
        </filters>
        <object>CampaignInfluence</object>
        <outputReference>CurrentCampaignInfluence</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Gather_all_Campaigns_on_the_Contact</name>
        <label>Gather all Campaigns on the Contact</label>
        <locationX>480</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Campaigns_to_Master_List</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovarContactRoleCollection.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>CollCampaignRecords</outputReference>
        <queriedFields>CampaignId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>luNewCampaignInfluence</name>
        <label>luNewCampaignInfluence</label>
        <locationX>161</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResetTotalRelativeInfluence</targetReference>
        </connector>
        <filters>
            <field>ModelId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>03V61000000KynDEAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soOpportunityID.Id</elementReference>
            </value>
        </filters>
        <object>CampaignInfluence</object>
        <outputReference>NewCampaignInfluence</outputReference>
        <queriedFields>CampaignId__NotFound</queriedFields>
        <queriedFields>ContactId__NotFound</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Influence</queriedFields>
        <queriedFields>OpportunityId__NotFound</queriedFields>
        <queriedFields>ModelId__NotFound</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>ruUpdateOpportunityCampaignInfluence</name>
        <label>ruUpdateOpportunityCampaignInfluence</label>
        <locationX>523</locationX>
        <locationY>1345</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soOpportunityID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Influencing_Campaigns__c</field>
            <value>
                <elementReference>varInfluencingCampaigns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Campaign_Influence_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inCampaignInfluenceFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>SetinCampaignInfluenceFlow</name>
        <label>SetinCampaignInfluenceFlow</label>
        <locationX>988</locationX>
        <locationY>124</locationY>
        <connector>
            <targetReference>ActionWaittorunflow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soOpportunityID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>inCampaignInfluenceFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCampaignInfluenceRecord</name>
        <label>updateCampaignInfluenceRecord</label>
        <locationX>295</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>loopSetCampaignInfluenceFinal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>indFinalCampaignInfluenceSet.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Influence</field>
            <value>
                <elementReference>indCampaignInfluencePercent</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignInfluence</object>
    </recordUpdates>
    <startElementReference>SetinCampaignInfluenceFlow</startElementReference>
    <variables>
        <description>the Campaign Influence Records to Create/Update</description>
        <name>CollCampaignInfluence</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignInfluence</objectType>
    </variables>
    <variables>
        <description>Collection of campaign records on the Contact</description>
        <name>CollCampaignRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CollectionJusttheCampaignId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CollFinalCampaignInfluenceSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignInfluence</objectType>
    </variables>
    <variables>
        <name>collGetSetofCampaignInfluence</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignInfluence</objectType>
    </variables>
    <variables>
        <description>This is the contact that campaign information will be copied to the opportunity record</description>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentCampaignInfluence</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignInfluence</objectType>
    </variables>
    <variables>
        <name>DuplicateCampaignCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>the records to be updated/created as part of the campaign influence.</description>
        <name>indCampaignInfluence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignInfluence</objectType>
    </variables>
    <variables>
        <description>stores the values from the campaign object in relation to the lead being converted</description>
        <name>indCampaignRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>indFinalCampaignInfluenceSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignInfluence</objectType>
    </variables>
    <variables>
        <name>indGetSetCampaignInfluence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignInfluence</objectType>
    </variables>
    <variables>
        <name>indJustTheCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>indTotalCampaignRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Sets the multi-touch attribution modelID 03V61000000KynDEAS</description>
        <name>ModelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>03V61000000KynDEAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewCampaignInfluence</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignInfluence</objectType>
    </variables>
    <variables>
        <description>This is the opportunity that will be updated on creation of this process. This may be set on opportunity creation.</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>scContactRoleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>soOpportunityID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sovarAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sovarContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sovarContactRoleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>sovarNewCampaignInfluence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignInfluence</objectType>
    </variables>
    <variables>
        <name>TotalCampaignCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varInfluencingCampaigns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The total added relative influence of every campaign influence record in the collection.</description>
        <name>varTotalRelativeCampaignInfluence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <waits>
        <name>ActionWaittorunflow</name>
        <label>ActionWaittorunflow</label>
        <locationX>815</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>waittorunflow</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>flGetCurrentCampaignInfluence</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.002</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>waittorunflow</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_to_Create</name>
        <label>Wait to Create</label>
        <locationX>234</locationX>
        <locationY>915</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_to_Create_Records</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>luNewCampaignInfluence</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.002</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait to Create Records</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_to_Delete</name>
        <label>Wait to Delete</label>
        <locationX>229</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_to_Delete_Records</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Contact_Role_Lookup</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.002</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait to Delete Records</label>
        </waitEvents>
    </waits>
</Flow>
